
html, body,p{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image:url("resources/mike-cox-zlqvQzg66Nc-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* font-family: 'Gloria Hallelujah', cursive; */
font-family: 'Itim', cursive;
}

* {
    box-sizing: border-box;
}


.container{
    display:flex;
    flex-direction: column;
    height:100%;
    align-items: stretch;
    justify-items: stretch;

}


#section-1{
    background-color: #810344;
    height:40px;
    display:flex;
    width:100%;
    
}

#section-1 nav{

    display:flex;
    width:100%;
    align-items:center;

}

#section-1 p{
    color:rgb(255, 230, 5);
    width: 100%;
    padding-left:40px;
}

#section-1 ul{
    display:flex;
    width: 350px;
    color: rgb(255, 195, 247);
    height: 100%;
    align-items:center;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 40px;
}

#section-2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:40%;
    margin: 20px 40px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 80px;
    display: flex;
    align-items: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    justify-content: center;
    
}


#section-3{
    /* background-image: url("resources/dustin-humes-IkYpVrXx4y8-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:100%;
    margin: 20px 0px 60px 0px;
    font-size: 80px;
    color:white;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;


}

#section-3 div{

    height: auto;
    height: 300px;
    padding: 8px;
}

#section-3 img{
    height: 100%;
    border:solid white 4px;
}


#footer{
    background-color: rgb(255, 211, 115);
    height:40px;
    display: flex;
    justify-content: flex-end;
    color: rgb(126, 82, 0);
    padding-right: 40px;
    align-items: center;
}


#avo{
    flex-grow: 2;
}